<div class="container">
  <div class="d-flex flex-row justify-content-between">
    <h1 class="text-center">Editar Grado</h1>
      <%= if current_user.admin_role? %>
        <%= link_to grades_path do %>
          <div class="">
            <i class="fa-solid fa-circle-left fs-1 icon-return rounded-circle border shadow"></i>
          </div>
        <% end %>
    </div>
    <div>
      <p>Estas a punto de editar el nivel escolar: <%= @grade.name %> de la institución</p>
    </div>

    <div class="container card" style="width: 30rem;">
      <%= simple_form_for(@grade) do |f| %>
      <div class="form-inputs text-center">
        <%= f.input :name, label:'Nombre'  %>
      </div>
      <div class="form-actions">
        <ul class="list-group">
          <li class="list-group-item text-center"><%= f.submit "Actualizar", class: "btn btn-flat" %></li>
        </ul>
      </div>
      <% end %>
    </div>
    <% else %>
      <div class="d-flex w-100 justify-content-between">
          <h3 class="mb-10">¡Acceso denegado!</h3>
          <%= link_to "Aceptar", root_path, class:"btn btn-outline-danger btn-sm" %>
        </div>
    <% end %>
</div>
