<div class="container col-6 justify-content: center">

  <%= simple_form_for(@post) do |f| %>
    
    <div>
      <%= f.input :title, label:"Título" %>
      <%# <%= f.input :type_activity, label:"Tipo", collection: ["Lúdico", "Académico"] %>
      <%= f.label "Tipo de post" %><br>
      <%= f.collection_radio_buttons :type_activity, [['Lúdico'], ['Académico']], :first, :last %><br>
      <br><%= f.input :date, html5: true, label:"Fecha del evento" %>
      <%# <%= f.input :description, as: :text, label:"Descripción" %>
      <%= f.association :grade, collection: Grade.all %>
      <%= f.association :subject, collection: Subject.all %>
      <%= f.label "Descripción" %> 
      <%= f.rich_text_area :content %>
    </div>
    
    <div class="form-actions">
      <%= f.submit "Guardar", class: "btn btn-primary m-3" %>
      <a class="mb-5"><%= link_to "Regresar", posts_path, class:"btn btn-outline-secondary"%></a>
    </div>
  <% end %>
</div>