<div class="container col-12 justify-content: center">

  <%= simple_form_for(@post) do |f| %>

    <div>
      <%= f.input :title, label:"Título" %>
      <%# <%= f.input :type_activity, label:"Tipo", collection: ["Lúdico", "Académico"] %>
      <div class="mb-2 d-flex justify-content-around">
        <div><p>Tipo de Actividad:</p></div>
        <div class="d-flex justify-content-around"><%= f.collection_radio_buttons :type_activity, [['Lúdico'], ['Académico']], :first, :last %></div>
      </div>
      <%= f.input :date, html5: true, label:"Fecha del evento" %>
      <%# <%= f.input :description, as: :text, label:"Descripción" %>
      <%= f.association :grade, collection: Grade.all, label:"Grado al que pertenece el post" %>
      <%= f.association :subject, collection: Subject.all, label:"Asignatura del post" %>
      <%= f.label "Descripción" %>
      <%= f.rich_text_area :content %>
    </div>

    <div class="form-actions">
      <%= f.submit "Guardar", class: "btn btn-flat" %>
    </div>
  <% end %>
</div>
