<div class="navbar navbar-expand-lg navbar-lewagon px-4"
  data-controller="navbar"
  data-action="scroll@window->navbar#updateNavbar">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "Logo2-Scrapbook.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto align-items-md-center">
        <% if user_signed_in? %>
          <li class="nav-item me-auto p-3 bd-highlight">
            <small>
              <a href="#" class="text-light"> <%= current_user.email %> | <%= current_user.role %> </a>
            </small>
          </li>
          <% if current_user.admin_role? %>
            <li class="nav-item active text-light">
              <%= link_to "Mi Pizarrón", pizarron_path, class: "nav-link text-light" %>
            </li>
            <li class="nav-item text-light">
              <%= link_to "Agregar usuario", new_user_registration_path, class: "nav-link text-light" %>
              <%#= render "devise/shared/links" %>
            </li>
            <li class="nav-item dropdown">
              <% if current_user.photo.attached? %>
                <img src="<%= cl_image_path current_user.photo.key, crop: :fill %>" alt="avatar"
                  class="avatar dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <% else %>
                <%= image_tag "Logo1-Scrapbook.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% end %>

              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Mi Perfil", profile_path, class: "dropdown-item" %>
                <%= link_to "Mis Cursos", subjects_path, class: "dropdown-item" %>
                <%= link_to "Mis Aulas", grades_path, class: "dropdown-item" %>
                <%= link_to "Reportar Calificaciones", "#", class: "dropdown-item" %>
                <%= link_to "Chat", "#", class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
            </li>
            <% elsif current_user.teacher_role? %>
            <li class="nav-item active">
              <%= link_to "Mi Pizarrón", pizarron_path, class: "nav-link text-light" %>
            </li>
            <li class="nav-item text-light">
              <%= link_to "Crear post", new_post_path, class: "nav-link text-light btn btn-outline-success mx-4" %>
            </li>
            <li class="nav-item dropdown">
              <%= image_tag "Logo1-Scrapbook.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Mi Perfil", profile_path, class: "dropdown-item" %>
                <%= link_to "Mis Cursos", subjects_path, class: "dropdown-item" %>
                <%= link_to "Mis Aulas", grades_path, class: "dropdown-item" %>
                <%= link_to "Reportar Calificaciones", "#", class: "dropdown-item visually-hidden" %>
                <%= link_to "Chat", "#", class: "dropdown-item visually-hidden" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
            </li>
            <% else %>
              <li class="nav-item active">
              <%= link_to "Cartelera", pizarron_path, class: "nav-link text-light" %>
            </li>
            <li class="nav-item">
              <%= link_to "Chat", "#", class: "nav-link text-light visually-hidden" %>
            </li>
            <li class="nav-item dropdown">
              <%= image_tag "Logo1-Scrapbook.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Mi Perfil", profile_path, class: "dropdown-item" %>
                <%= link_to "Calificaciones", "#", class: "dropdown-item visually-hidden" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
            </li>
            <% end %>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-light" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="line-white"><hr></div>
