<div class="cards">
    <div class="card-category" style="background-image: url(https://i.ibb.co/VLjSFnp/open-spiral-notebook-1405082-960-720.png)">
      <div class="transbox col col-12" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
        <a class="d-grid p-0">
          <%= link_to "Pizarrón Informativo", posts_path, class: "btn btn-outline" %>
        </a>
      </div>
    </div>

    <div class="card-category" style="background-image: url(https://i.ibb.co/VLjSFnp/open-spiral-notebook-1405082-960-720.png)">
      <div class="transbox col col-12" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
        <a class="d-grid p-0">
          <%= link_to "Aulas de Clase", grades_path, class: "btn btn-outline" %>
        </a>
      </div>
    </div>

    <div class="card-category" style="background-image: url(https://i.ibb.co/VLjSFnp/open-spiral-notebook-1405082-960-720.png)">
      <div class="transbox col col-12" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
        <a class="d-grid p-0">
          <%= link_to "Mis Cursos", subjects_path, class: "btn btn-outline" %>
        </a></div>
    </div>

    <div class="card-category" style="background-image: url(https://i.ibb.co/VLjSFnp/open-spiral-notebook-1405082-960-720.png)">
      <div class="transbox col col-12" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
        <a class="d-grid p-0">
          <%= link_to "Calificaciones", subjects_path, class: "btn btn-outline" %></a></div>
    </div>

    <div class="card-category" style="background-image: url(https://i.ibb.co/VLjSFnp/open-spiral-notebook-1405082-960-720.png)">
      <div class="transbox col col-12" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
        <a class="d-grid p-0">
          <%= link_to "Citación de Acudientes", subjects_path, class: "btn btn-outline" %></a></div>
    </div>

    <div class="card-category" style="background-image: url(https://i.ibb.co/VLjSFnp/open-spiral-notebook-1405082-960-720.png)">
      <div class="transbox col col-12" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
        <a class="d-grid p-0">
          <%= link_to "Chat", subjects_path, class: "btn btn-outline" %></a></div>
    </div>
</div>
