<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.ibb.co/cYd8DtR/Banner1.png)">
    <strong><%= link_to "Pizarrón Informativo", posts_path, class: "btn btn-outline" %></strong>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.ibb.co/cYd8DtR/Banner1.png)">
    <strong><%= link_to "Aulas de Clase", grades_path, class: "btn btn-outline" %></strong>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.ibb.co/cYd8DtR/Banner1.png)">
    <strong><%= link_to "Mis Cursos", subjects_path, class: "btn btn-outline" %></strong>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.ibb.co/cYd8DtR/Banner1.png)">
    <strong><%= link_to "Calificaciones", subjects_path, class: "btn btn-outline" %></strong>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.ibb.co/cYd8DtR/Banner1.png)">
    <strong><%= link_to "Citación de Acudientes", subjects_path, class: "btn btn-outline" %></strong>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.ibb.co/cYd8DtR/Banner1.png)">
    <strong><%= link_to "Chat", subjects_path, class: "btn btn-outline" %></strong>
  </div>
</div>
