<% @posts.each do |post| %>
          <div class="col pt-3">
            <div class="card-index card h-100">
              <div class="card-header">
                <p class="text-uppercase fs-6"><strong><%= post.title %></strong></p>
              </div>
<<<<<<< HEAD
              <div class="card-body flex-column">
                <div class="mb-4 ">
                  <small class="text-muted mt-4"> <%= time_ago_in_words(post.created_at) %> ago</small>
                </div>
                <div class="d-flex justify-content-end bottom-0"><%= link_to "Ver más", post, class:"btn btn-card" %></div>
=======
              <div class="card-body">
              <small class="text-muted mt-4"> <%= time_ago_in_words(post.created_at) %> ago</small>
              <%= link_to "Detalle", post %>
>>>>>>> master
              </div>
            </div>
          </div>
        <% end %>
