<div class="list-group">
  <% if current_user.admin_role? %>
  <div class="d-flex w-100 justify-content-end mb-3">
        <%= link_to "Agregar Asignatura", new_subject_path, class:"btn btn-flat"%>
      </div>
    <% @subjects.each_with_index do |subject, num| %>

      <div class="card-product">
        <div class="d-flex justify-content-center align-middle" style="background-image: url(https://cdn.pixabay.com/photo/2019/07/08/08/54/mindmap-4324289_960_720.jpg); background-size:cover; height:120px; width: 185px;">
              <!--<h1 class="fs-1 mt-5"><%#= num + 1 %></h1>-->
            </div>
            <div class="card-product-infos">
              <div>
                <h2><%= subject.name %></h2>
                <p><small><%= subject.created_at %></small></p>
                <p><small>Jornada: Única</small></p>
              </div>
              <div class="d-flex justify-content-end">
                <%= link_to "Ver detalles", subject_path(subject), class:"btn btn-card" %>
                <%= link_to "Editar", edit_subject_path(subject), class:"btn btn-card" %>
                <%= link_to "Eliminar",  subject_path(subject), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"},
                  class:"btn btn-card" %>
              </div>
            </div>
        </div>
    <% end %>
  <% elsif current_user.teacher_role? %>

    <% @subjects.each_with_index do |subject, num| %>
          <div class="card-product">
            <div class="d-flex justify-content-center align-middle" style="background-image: url(https://cdn.pixabay.com/photo/2019/07/08/08/54/mindmap-4324289_960_720.jpg); background-size:cover; height:120px; width: 185px;">
              <!--<h1 class="fs-1 mt-5"><%#= num + 1 %></h1>-->
            </div>

              <div class="card-product-infos">
              <div>
                <h2><%= subject.name %></h2>
                <p><small><%= subject.created_at %></small></p>
                <p><small>Jornada: Única</small></p>
              </div>
                <div class="d-flex justify-content-end">
                  <%= link_to "Ver detalles", subject_path(subject), class:"btn btn-card" %>
                </div>
              </div>
          </div>
        <% end %>
  <% else %>
    <div class="d-flex w-100 justify-content-between">
      <h3 class="mb-10">¡Acceso denegado!</h3>
      <%= link_to "Aceptar", root_path, class:"btn btn-outline-danger btn-sm" %>
    </div>
  <% end %>
</div>
