  <!--<div class="card bg-dark text-white">
    <img src="https://i.ibb.co/wLdgWvB/bg-5-pizarra.png" class="card-img" alt="background">

    <div class="card-img-overlay">
      <br>-->
      <div class="card m-4">
      <div class="container mt-4">

        <div class="d-flex flex-row justify-content-between">
          <h3 class="card-title">Asignatura:</h3>
          <%= link_to subjects_path do %>
              <div class="">
                <i class="fa-solid fa-circle-left fs-1 icon-return rounded-circle border shadow"></i>
              </div>
          <% end %>
        </div>
        <div class="mt-4 mb-4">
          <h1 class="card-title text-center "><%= @subject.name %></h1>
        </div>
        <div class="mt-4">
          <label for="description"><strong>Descripción:</strong></label>
          <p id="description" class="card-text mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit odio aspernatur corporis mollitia nihil modi cumque accusantium atque tenetur ab facere perspiciatis necessitatibus, recusandae molestias temporibus id voluptate </p>
          <p class="card-text"><strong>Grados relacionados: </strong></p>
          <% @subject.grades.each do |grade| %>
            <div class="mb-4 ms-4">
              <ul class="list-group list-group-horizontal">
                <li class="list-group-item-horizontal"><%= grade.name %></li>
              </ul>
            </div>
          <% end %>
        </div>
        <% if current_user.admin_role? %>
          <div class="d-flex justify-content-end mb-4 mt-3">
            <%= link_to "Editar", edit_subject_path(@subject), class:"btn btn-card" %>
            <%= link_to "Eliminar", subject_path(@subject), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"},
                  class:"btn btn-card" %>
          </div>
        <% end %>
        <!--<div class="d-flex align-items-end justify-content-end">
          <a class=""><%= link_to "Regresar", subjects_path, class:"btn btn-outline-primary"%></a>
        </div>
      </div>
    </div>-->
    </div>
  </div>
