
<div class="container">
<%= current_user.id %>
<%= current_user.role %>
<h1 class="mt-10 mb-6">Crear un nuevo Post</h1>

<%= simple_form_for(@post) do |f| %>
  
  <div>
    <%= f.input :title, label:"Título" %>
    <%= f.input :type_activity, label:"Tipo", collection: ["Lúdico", "Académico"] %>
    <%= f.input :date, html5: true %>
    <%= f.input :description %>
    <%= f.association :grade, collection: Grade.all %>
    <%= f.association :subject, collection: Subject.all %>
        
  </div>
  <div>
    <%# <%= f.rich_text_area :body, label:"Contenido" %>
  </div>
  <div class="form-actions">
    <%= f.submit "Guardar", class: "btn btn-primary m-3" %>
  </div>
<% end %>
</div>
