<div style="background-image: url(https://cdn.pixabay.com/photo/2019/06/10/11/35/learning-4264032_960_720.jpg)">
  <div class="container pt-3">
    <div class="row justify-content-center">
      <div class="col-12">

        <div class=" container px-4 text-center">
          <div class="row gx-5">
            <div class="col mlh-1 card">
              <h1><%= @post.title%></h1>
              <p>Grado: <%= @post.grade.name %></p>
              <p>Asignatura: <%= @post.subject.name %></p>
              <p>Profe: <%= @post.user.first_name %> <%= @post.user.last_name %></p>
            </div>
          </div>
        </div>


        <div class="container px-4 text-center mt-4">
          <div class="row gx-5">
            <div class="card col">
              <div class=" p-3 bg-white ">
                <%= @post.description %>
                <p>Tipo de post: <%= @post.type_activity %></p>
                <% if @post.date %>
                  <p>Fecha del evento: <%= localize @post.date, format: "%d de %B %Y" %></p>
                <% end %>
                <p>Fecha creación: <%= localize @post.created_at, format: "%d de %B %Y" %></p>
                <%= @post.content %>
              </div>
            </div>


            <div class=" card col">
              <div class=" p-3 bg-white">
                <%= @post.documents %>
              </div>
            </div>
          </div>
        </div>


          <!-- <div>
            <a><%#= link_to "Comentar post", new_post_comment_path(@post), class:"btn btn-outline-info" %></a>
          </div> -->
        <div class="d-flex">
          <% if current_user.present? && (current_user.id == @post.user_id) %>

          <div class="p-2">
            <a><%= link_to "Editar", edit_post_path(@post), class:"btn btn-flat" %></a>
          </div>
          <div class="p-2">
            <a><%= link_to "Eliminar", post_path(@post), class:"btn btn-flat", data: {turbo_method: :delete, turbo_confirm: "¿Estas seguro de eliminar?"} %></a>
          </div>
          <div class="ms-auto p-2">
            <a><%= link_to "Regresar a publicaciones", posts_path, class:"btn btn-flat"%></a>
          </div>

          <% else %>
          <div class="ms-auto p-2">
            <a><%= link_to "Regresar a publicaciones", posts_path, class:"btn btn-flat"%></a>
          </div>
          <% end %>
        </div>


    <div class="container pt-4 card text-center">
      <h4><b>Comentarios</b></h4>
      <small class="text-muted"><%= pluralize @post.comments.size, "comentario" %></small>
        <div class="">
          <% if @post.comments.blank? %><br>
            ¿Tienes alguna duda o pregunta?<br> Se el primero en comentar esta publicación:
            <strong><%= @post.title %></strong>
          <% else %>
            <% @post.comments.each do |comment| %>
              <div style="line-height: 50%"><br>

                <p id="comment-<%= comment.id %>"><%= comment.content %></p>
                <small class="text-muted">Por: <%= comment.user.fullname %></small>
                <small><%= link_to "Borrar comentario",
                  comment_path(comment),
                  data: {turbo_method: :delete, turbo_confirm: "Estás seguro?"}
                  %></small>
              </div>
            <% end %>
            <br>Puedes dejarnos más comentarios.
          <% end %>
        </div>
        <%= simple_form_for([@post, @comment]) do |f| %>

          <%= f.input :content, as: :text, label: ".",placeholder:"Escribe un comentario" %>
          <%= f.submit "Comentar", class:" btn btn-flat btn-flat:hover", data: {turbo_method: :post} %>
        <% end %>
    </div>
  </div>



      </div>
    </div>
  </div>
</div>
