
  <div class="container pt-3">
    <div class="row justify-content-center">
      <div class="col-12">

      <div class=" container px-4 text-center mt-4">
          <div class="row gx-5">
            <div class="col mlh-1 card">
              <div class="d-flex flex-row justify-content-between pt-3 pb-2">
              <h1><%= @post.title %></h1>
                <%= link_to posts_path do %>
                    <div class="">
                      <i class="fa-solid fa-circle-left fs-1 icon-return rounded-circle border shadow"></i>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class=" container px-4 mt-4">
          <div class="row gx-5">
            <div class="card col me-4">
            <div class="col mlh-1 p-3">
              <div>
                <p class="fs-5"><strong>Grado:</strong> <%= @post.grade.name %></p>
                <p class="fs-5"><strong>Asignatura:</strong> <%= @post.subject.name %></p>
                <p class="fs-5"><strong>Tipo de post:</strong> <%= @post.type_activity %></p>
                <p class="fs-6"><strong>Profe:</strong> <%= @post.user.first_name %> <%= @post.user.last_name %></p>
              </div>
            </div>
          </div>

            <div class="card col">
              <div class=" p-3 bg-white ">
                <p class="fs-6"><strong>Descripción: </strong><br><%= @post.description %></p>
                <% if @post.date %>
                  <p><strong>Fecha del evento: </strong> <%= localize @post.date, format: "%d de %B %Y", language: "ES" %></p>
                <% end %>
                <p><strong>Fecha creación: </strong><%= localize @post.created_at, format: "%d de %B %Y", language: "ES" %></p>
                <%= @post.content %>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-start">
          <% if current_user.present? && (current_user.id == @post.user_id) %>

            <div class="p-2">
              <a><%= link_to "Editar", edit_post_path(@post), class:"btn btn-flat" %></a>
            </div>
            <div class="p-2">
              <a><%= link_to "Eliminar", post_path(@post), class:"btn btn-flat", data: {turbo_method: :delete, turbo_confirm: "¿Estas seguro de eliminar?"} %></a>
            </div>
          <% end %>
        </div>


        <div class=" container px-4 mt-4">
          <div class="row gx-5">
            <div class="col mlh-1 card">
              <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-light p-4">
                  <%= @post.content %>
                </div>

              </div>
              <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fs-4">Ver más</span>
                  </button>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                </div>
              </nav>
            </div>
          </div>
        </div>

          <!-- <div>
            <a><%#= link_to "Comentar post", new_post_comment_path(@post), class:"btn btn-outline-info" %></a>
          </div> -->

    <div class="container pt-4 card mt-4">
      <h4><b>Comentarios</b><small class="text-muted fs-6">  (<%= pluralize @post.comments.size, "comentario" %>)</small></h4>

        <div class="">
          <% if @post.comments.blank? %><br>
            ¿Tienes alguna duda o pregunta?<br> Sé el primero en comentar esta publicación:
            <strong><%= @post.title %></strong>
          <% else %>
            <% @post.comments.each do |comment| %>
              <div class="container pt-4 mb-2 bg-light bg-gradient" style="line-height: 50%"><br>
                <div class="d-flex flex-row justify-content-between mb-2">
                  <small class="text-muted"><%= comment.user.fullname %> (<%= comment.user.role %>) dice:</small>
                  <small><%= link_to "Borrar comentario",
                    comment_path(comment),
                    data: {turbo_method: :delete, turbo_confirm: "Estás seguro?"}
                    %></small>
                </div>
                <p id="comment-<%= comment.id %>"><%= comment.content %></p>
              </div>
            <% end %>
          <% end %>
        </div>
        <%= simple_form_for([@post, @comment]) do |f| %>
          <%= f.input :content, as: :text, label: ".",placeholder:"Escribe un comentario" %>
          <div class="d-flex justify-content-end mb-4">
            <%= f.submit "Comentar", class:" btn btn-flat", data: {turbo_method: :post} %>
          </div>
        <% end %>
    </div>
  </div>



      </div>
    </div>
  </div>
</div>
