<div class="container">
  <h1 class="mt-10 mb-6">Mis posts</h1>
  <h3><%= @post.title%> (<%= @post.description%>)</h3>
  <div>

  <p>Tipo de post: <%= @post.type_activity %></p>
    <p>Fecha del evento: <%= @post.date %></p>
    <p>Grado: <%= @post.grade.name %></p>
    <p> Asignatura: <%= @post.subject.name %></p>
  </div>

  <!-- <div>
    <a><%#= link_to "Comentar post", new_post_comment_path(@post), class:"btn btn-outline-info" %></a>
  </div> -->


  <div class="d-flex">
    <% if current_user.present? && (current_user.id == @post.user_id) %>
      <a><%= link_to "Editar post", edit_post_path(@post), class:"btn btn-outline-info" %></a>
      <a><%= link_to "Eliminar espacio", post_path(@post), remote: true, class:"btn btn-outline-danger", data: {turbo_method: :delete, turbo_confirm: "¿Estas seguro de eliminar?"} %></a>
      <a class="mb-5"><%= link_to "Regresar", posts_path, class:"btn btn-outline-secondary"%></a>
    <% else %>
      <a class="mb-5"><%= link_to "Regresar", posts_path, class:"btn btn-outline-secondary"%></a>
    <% end %>
  </div>

  <div>
    <h4><strong>Comentarios</strong></h4>
    <small><%= pluralize @post.comments.size, "comentario" %></small>
      <div class="">
        <% if @post.comments.blank? %>
          ¿Tienes alguna duda o pregunta? deja tu comentario a esta publicación:
          <%= @post.title %>
        <% else %>
          <% @post.comments.each do |comment| %>
            <p id="comment-<%= comment.id %>"><%= comment.content %></p>
            <small><%= link_to "Borrar comentario",
              comment_path(comment),
              data: {turbo_method: :delete, turbo_confirm: "Estás seguro?"}
              %></small>
          <% end %>
         <% end %>
      </div>
      <%= link_to "Regresar a publicaciones", posts_path %>
      <div>
        <%= simple_form_for([@post, @comment], remote: true) do |f| %>
          <%= f.input :content, as: :text %>
          <%= f.button :submit, "Comentar", data: {turbo_method: :post} %>
        <% end %>
      </div>
      <br>
  </div>
</div>
