<!DOCTYPE html>
<html>
  <head>
    <title>ScrapbookV2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script>
        FontAwesomeConfig = {
          mutateApproach: 'sync'
        }
      </script>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# <%= stylesheet_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="col-12">
      <header>
        <%= render "shared/navbar" %>
        <%= render "shared/flashes" %>
      </header>
      <div class="col-12">
        <%= yield %>
      </div>

      <footer id="" class="mt-5">
        <%= render "shared/footer" %>
      </footer>
    </div>
  </body>
</html>
